@keyframes ldio-2uw6yv3190s {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-2uw6yv3190s div {
  left: 96px;
  top: 49px;
  position: absolute;
  animation: ldio-2uw6yv3190s linear 1s infinite;
  background: #ff0033;
  width: 8px;
  height: 22px;
  border-radius: 4px / 11px;
  transform-origin: 4px 51px;
  

}.ldio-2uw6yv3190s div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9411764705882353s;
  background: #fe718d;
}.ldio-2uw6yv3190s div:nth-child(2) {
  transform: rotate(21.176470588235293deg);
  animation-delay: -0.8823529411764706s;
  background: #f47e60;
}.ldio-2uw6yv3190s div:nth-child(3) {
  transform: rotate(42.35294117647059deg);
  animation-delay: -0.8235294117647058s;
  background: #f8b26a;
}.ldio-2uw6yv3190s div:nth-child(4) {
  transform: rotate(63.529411764705884deg);
  animation-delay: -0.7647058823529411s;
  background: #abbd81;
}.ldio-2uw6yv3190s div:nth-child(5) {
  transform: rotate(84.70588235294117deg);
  animation-delay: -0.7058823529411765s;
  background: #849b87;
}.ldio-2uw6yv3190s div:nth-child(6) {
  transform: rotate(105.88235294117646deg);
  animation-delay: -0.6470588235294118s;
  background: #6492ac;
}.ldio-2uw6yv3190s div:nth-child(7) {
  transform: rotate(127.05882352941177deg);
  animation-delay: -0.5882352941176471s;
  background: #637cb5;
}.ldio-2uw6yv3190s div:nth-child(8) {
  transform: rotate(148.23529411764707deg);
  animation-delay: -0.5294117647058824s;
  background: #6a63b6;
}.ldio-2uw6yv3190s div:nth-child(9) {
  transform: rotate(169.41176470588235deg);
  animation-delay: -0.47058823529411764s;
  background: #fe718d;
}.ldio-2uw6yv3190s div:nth-child(10) {
  transform: rotate(190.58823529411765deg);
  animation-delay: -0.4117647058823529s;
  background: #f47e60;
}.ldio-2uw6yv3190s div:nth-child(11) {
  transform: rotate(211.76470588235293deg);
  animation-delay: -0.35294117647058826s;
  background: #f8b26a;
}.ldio-2uw6yv3190s div:nth-child(12) {
  transform: rotate(232.94117647058823deg);
  animation-delay: -0.29411764705882354s;
  background: #abbd81;
}.ldio-2uw6yv3190s div:nth-child(13) {
  transform: rotate(254.11764705882354deg);
  animation-delay: -0.23529411764705882s;
  background: #849b87;
}.ldio-2uw6yv3190s div:nth-child(14) {
  transform: rotate(275.29411764705884deg);
  animation-delay: -0.17647058823529413s;
  background: #6492ac;
}.ldio-2uw6yv3190s div:nth-child(15) {
  transform: rotate(296.47058823529414deg);
  animation-delay: -0.11764705882352941s;
  background: #637cb5;
}.ldio-2uw6yv3190s div:nth-child(16) {
  transform: rotate(317.6470588235294deg);
  animation-delay: -0.058823529411764705s;
  background: #6a63b6;
}.ldio-2uw6yv3190s div:nth-child(17) {
  transform: rotate(338.8235294117647deg);
  animation-delay: 0s;
  background: #fe718d;
}
.loadingio-spinner-spinner-t2wqavar8e8 {
  width: 200px;
  height: 200px;
  overflow: hidden;
  background: #ffffff;
  margin: 0 auto;
}
.ldio-2uw6yv3190s {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-2uw6yv3190s div { box-sizing: content-box; }
